@import "tailwindcss";

*{
   box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%
}

@keyframes slow-pan {
  from {
    transform: scale(1) translateY(0);
  }
  to {
    transform: scale(1.05) translateY(-2%);
  }
}

.animate-slow-pan {
  animation: slow-pan 20s ease-in-out infinite alternate;
  will-change: transform;
}

